<header>
    <div >
        <div class="row">
            <div class="col text-center">
                <h1>LICTOR</h1>
            </div>
            <div class="col text-center">
                <p>IMAGEN</p>
            </div>
            <div class="col text-end">
                <i class="fas fa-bars bars"></i><p>CERRAR SESIÓN</p> <!-- mirar los iconos fontawesome -->
            </div>
            
        </div>
        <div class="row">
            <div class="col text-center">
                <p>Bienvenido USER</p>
            </div>
            
        </div>
    </div>
    
</header>