
<nav>
    @if (userLoginOn) {
        <ul>
            <li>
                <a routerLink="inicio">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span>Escritorio</span>
                    
                </a>
               
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faFolder"></fa-icon>
                    <span>Expedientes</span>
                </a>
                
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faTasks"></fa-icon>
                    <span>Actuaciones</span>
                </a>
                
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faArchive"></fa-icon>
                    <span>Tipo Expediente</span>
                </a>
                
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faFileAlt"></fa-icon>
                    <span>Documentos</span>
                </a>
               
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faCode"></fa-icon>
                    <span>Endpoints</span>
                </a>
                
            </li>
        </ul>

    }
    @else {
        <ul>
            <li>
                <a href="#">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span>Inicie Sesión</span>
                    
                </a>
               
            </li>
        </ul>
    }
    
</nav>
<router-outlet></router-outlet>