<nav class="sidebar">
    <div class="sidebar-content">
      <ul class="nav flex-column">
        <!-- Expandir -->
        <li class="nav-item">
            <a class="nav-link" (click)="toggleMenu()"> <!-- pulsar para abrir el menu -->
            <i class="fas fa-bars bars"></i>
        
          </a>
        </li>
        <!-- HOME -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="icon-column">
              <i class="fas fa-home icon"></i>
            </div>
            <div class="text-column">
              <span class="ocultar">Escritorio</span>
            </div>
          </a>
        </li>
        <!-- EXPEDIENTES -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="icon-column">
              <i class="fas fa-folder icon"></i>
            </div>
            <div class="text-column">
              <span class="ocultar">Expedientes</span>
            </div>
          </a>
        </li>
        <!-- ACTUACIONES -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="icon-column">
              <i class="fas fa-tasks icon"></i>
            </div>
            <div class="text-column">
              <span class="ocultar">Actuaciones</span>
            </div>
          </a>
        </li>
        <!-- TIPO EXPEDIENTE -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="icon-column">
              <i class="fas fa-archive icon"></i>
            </div>
            <div class="text-column">
              <span class="ocultar">Tipo Expediente</span>
            </div>
          </a>
        </li>
        <!-- DOCUMENTOS -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="icon-column">
              <i class="fas fa-file-alt icon"></i>
            </div>
            <div class="text-column">
              <span class="ocultar">Documentos</span>
            </div>
          </a>
        </li>
        <!-- ENDPOINTS -->
        <li class="nav-item">
          <a class="nav-link">
            <div class="icon-column">
              <i class="fas fa-code icon"></i>
            </div>
            <div class="text-column">
              <span class="ocultar">Endpoints</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  