<nav class="sidebar">
    <div class="sidebar-content">
      <ul class="nav flex-column">
        <!-- Enlaces del menú -->
        <!-- Expandir -->
        <li class="nav-item">
            <a class="nav-link active" (click)="toggleMenu('menu')">
              <i class="fas fa-bars bars"></i>
            </a>
          </li>
        <!-- HOME -->
        <li class="nav-item">
          <a class="nav-link active">
            <i class="fas fa-home icon"></i>
          </a>
        </li>
        <!-- EXPEDIENTES -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-folder icon"></i>
          </a>
        </li>
        <!-- ACTUACIONES -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-tasks icon"></i>
          </a>
        </li>
        <!-- TIPO EXPEDIENTE -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-archive icon"></i>
          </a>
        </li>
        <!-- DOCUMENTOS -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-file-alt icon"></i>
          </a>
        </li>
        <!-- ENDPOINTS -->
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-code icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  