<section class="vh-50">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
  
            <!-- FORMULARIO -->

            <form [formGroup]="loginForm">
              <div class="form-group">
                
                <input type="email" class="form-control" aria-describedby="usernameHelp" placeholder="Usuario" formControlName="username">
                <small id="usernameHelp" class="form-text text-muted">Ej: soltel</small>
              </div>
  
              <div class="form-group">
               
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                <small id="passwordHelp" class="form-text text-muted">Ej: admin</small>
              </div>
               
              <div class="form-btn">
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
              </div>
              
            </form>
            <!-- FIN DEL FORMULARIO -->
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
  